.row-margin-top {
	margin-top: 30px;
}
.form-control{
	margin-top: 20px;
	margin-bottom:20px;
	margin-left:30px;
	margin-right:5px;
}
.chat{
	position: relative;
	overflow-y:auto; width:700px; height:700px;
	border:1px solid #C0C0C0;
	height: 350px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.btn-primary{
	margin-top: 20px;
	margin-bottom:20px;
	margin-left:5px;
	margin-right:5px;

}
.totalchat{
	border:1px solid #C0C0C0;
	height: 450px;
}
.container{
	margin-top: 130px;
	margin-bottom:70px;
	margin-left:200px;
	margin-right:auto;
}
.people{
	position: relative;
	overflow-y:auto; width:200px; height:800px;
	height: auto;
	border:1px solid #C0C0C0;
}
.onlinepeople{
	border:1px solid #C0C0C0;
	height:110px;
	width:200px;
}
.list-group{
	width:200px;
}
.text-center{
	margin-top: 40px;
	margin-bottom:60px;
}
.img{
	width:20px;
	heigth:25px;
	margin-right: 5px;
}
